nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 20px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    margin-top: 15px;
}